@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-neutral-200 min-w-[350px];
    }
    body.dark {
        @apply bg-[#181818] text-white;
    }
    input:focus {
        outline: 0;
    }
    input {
        background: transparent;
    }
    /* .border,
    .border-x,
    .border-b,
    .border-r {
        @apply border-neutral-300 dark:border-neutral-700;
    } */
    .border-primary {
        @apply border-neutral-300 dark:border-neutral-700;
    }
    .background-transition {
        @apply transition-[background] duration-100;
    }
    .background {
        @apply dark:bg-[#101010] bg-white transition-[background] duration-100;
    }

    body.dark .swiper-pagination-bullet {
        @apply bg-red-400 !important;  
    }
    .mx-auto .swiper-pagination-bullet {
        @apply bg-red-400 !important;
    }
}
